 * {
    font-size:15px;
    font-family: sans-serif;
 }

.app {
    width: 80%;
    margin: 0 auto;
}

.book-list {
    width:100%;
}

.book-list .deleteButton {
    color: black;
}

.book-list td {
    padding:10px;
    border-bottom: 1px solid #ccc;
    color:#959595;
}

.fas {
    font-size:18px;
}


.sub-headers {
    display: inline-flex;
    width:100%;
}

.sub-headers div {
    background: #e5e5e5;
    font-weight: 500;
    padding: 11px;
    margin-left: 6px;
    border-radius: 3px;
} 
.sub-name {
    width: 20%;
}

.sub-editorial {
    width: 21%;
}

.sub-author {
    width:21%;
}

.sub-edition {
    width: 20%;
}

input {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    margin-top:20px;
    outline: none;
    border-bottom: 3px solid #a9a9df;
    border-top: none;
    border-left: none;
    border-right: none;

}

.fa-search {
    margin-left:-25px;
}

.header {
    height:55px;
    background: #a9a9df;
    color:white;
    font-size:28px;
    display:flex;
    justify-content: space-between;
}

.icon {
    font-size: 27px;
    padding:12px 50px 0px 50px;  
}

.new-book {
    display: block;
    width: 200px;
    margin: 0 auto;
}

.fa-plus-circle {
    font-size: 100px;
    color: #e9e9e9;
    width: 100px;
    margin: 0 auto;
    padding: 10px 50px;
}

.addButton {
    width:200px;
    color:white;
    border-radius:10px;
    background:#a9a9df;
    padding: 5px 30px;
}